<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true" stacktraceAsString="true">
                <KeyValuePair key="traceId" value="${ctx:traceId}"/>
                <KeyValuePair key="spanId" value="${ctx:spanId}"/>
            </JsonLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/server.log"
                     filePattern="logs/server-%d{yyyy-MM-dd}.log">
            <JsonLayout compact="true" eventEol="true" stacktraceAsString="true">
                <KeyValuePair key="traceId" value="${ctx:traceId}"/>
                <KeyValuePair key="spanId" value="${ctx:spanId}"/>
            </JsonLayout>
<!--            <JsonLayout compact="true" eventEol="true"/>-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [TRACE_ID=%X{traceId}] [SPAN_ID=%X{spanId}] %-5level %logger{36} - %msg%n"/>-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
